<div class="row mt-2">
    <div class="col-md-12 ">
        <form class="d-flex float-end" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filterText" [ngModelOptions]="{standalone:true}">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    </div>
</div>
<div class="row">
    <div class=" col-lg-6 col-md-4 mt-2 g-2"  *ngFor="let word of wordList | searchPipe:filterText">
        <div class="card">
            <div class="card-header">
                {{word.expression}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{word.expression}}</h5>
                <p class="card-text">
                    <small>
                        {{word.definition}}
                    </small>
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal-'+word.id">
                    See examples !
                  </button>
            </div>
        </div>
        <app-examples-modal [word]="word"></app-examples-modal>

    </div>
</div>

<!-- Modal body
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div> -->