<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Admin Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add" routerLink="/admin/word-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let word of wordList">
      <ion-fab-button color="warning" size="small" routerLink="/admin/word-update/{{word.id}}"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="danger" size="small" (click)="deleteConfirm(word.id)"><ion-icon name="trash-outline"></ion-icon></ion-fab-button>

      <ion-label>
        <h6>{{word.expression}}</h6>

        <p class="ion-text-nowrap">{{word.definition}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
